<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>轻简记账</title>
    <link rel="stylesheet" href="../../../static/css/menu_style_1.css" th:href="@{../css/menu_style_1.css}"></link>
</head>
<body>
<!-- Navigation -->
<nav id="slide-menu">
    <ul>
        <li class="timeline">Timeline</li>
        <li class="events">Events</li>
        <li class="calendar">Calendar</li>
        <li class="sep settings">Settings</li>
        <li class="logout"><a th:href="@{logout}">Logout</a></li>
    </ul>
</nav>
<!-- Content panel -->
<div id="content">
    <div class="menu-trigger"></div>
    <div class="user">
        <p th:text="${uid}"></p>
    </div>
    <a th:href="@{../css/menu_style_1.css}">Content路径,默认访问static下的css文件夹</a>
</div>
<script src="..//js/index.js"></script>
</body>
</html>
