.container {
    background-color: blanchedalmond;
    /*margin-top: 10px;*/
    padding-top: 20px;
    min-height: 768px;
    /*border-radius: 5px;*/
}
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0);
}
.modal-content {
    border: 0;
    border-radius: 15px;
}