html,body {
    background-color: rgba(210, 220, 220, 1);
    height: 100%;
}

.container {
    background-color: blanchedalmond;
    height: 100%;
    padding: 0;
}

@media (width: 375px){
    .container {
        width: 100%;
    }
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0);
}
.modal-content {
    border: 0;
    border-radius: 15px;
}

.header {
    background-color: #f8f8f8;
    height: 50px;
}

.footer {
    background-color: #f8f8f8;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:20px;
    position: absolute;
    bottom: 0;
    height: 50px;
}

@media (max-width: 768px){
    .footer {
        width: 100%;
    }
}

div#TabContent {
    /*margin: 0 1px;*/
    height: 100%;
    padding: 50px 0;
}

div#welcomeForm {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
}

div#loginForm {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
}

div#signForm {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
}

div#login-page {
    background-color: lightsalmon;
    border-radius: 15px;
    padding: 0;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    padding: 45px;
    text-align: center;
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 32px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.form .result {
    margin: 15px 0 0;
    color: #FF0000;
    font-size: 12px;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

div#login-id-msg {
    margin: 5px 0;
    padding: 0;
    display: none;
}

div#login-pwd-msg {
    margin: 5px 0;
    padding: 0;
    display: none;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    /*background-color: #f5f5f5;*/
}
/*定义滚动条的轨道，内阴影及圆角*/
::-webkit-scrollbar-track{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    border-radius: 10px;
    /*background-color: #f5f5f5;*/
}
/*定义滑块，内阴影及圆角*/
::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 10px;
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #337ab752;
}