<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>轻简记账</title>
    <link rel="stylesheet" href="../../static/css/menu-1.css" th:href="@{css/menu-1.css}"></link>
    <link rel="stylesheet" href="../../static/css/box.css" th:href="@{css/box.css}"></link>
</head>
<body>
<!-- Navigation -->
<nav id="slide-menu">
    <ul>
        <li class="timeline">Timeline</li>
        <li class="events">Events</li>
        <li class="calendar">Calendar</li>
        <li class="sep settings">Settings</li>
        <li class="logout"><a th:href="@{logout}">Logout</a></li>
    </ul>
</nav>
<!-- Content panel -->
<div id="content">
    <div class="menu-trigger"></div>
    <div class="header" th:text="${uid}">
    </div>
    <div class="user" th:text="${uid}">
    </div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
</div>
<script src="js/menu-1.js"></script>
</body>
</html>
