<div class="row">
    <div class="col-lg-8">
        <div class="col-lg-3" th:each="acct:${accounts}">
            <div class="card card-1 accs">
                <div class="panel panel-warning">
                    <div class="panel-heading" th:text="${acct.accountName}"></div>
                    <div class="panel-body" th:text="${acct.balance}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-1 money">

        </div>
    </div>
</div>