<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>轻简记账</title>
    <link rel="stylesheet" th:href="@{css/box.css}"></link>
    <link rel="stylesheet" th:href="@{css/menu-2.css}"></link>
    <script src="js/prefixfree.min.js"></script>
</head>
<body>
    <div class="card content">
        <div class="card header">
            <a href="#menu" id="toggle" class=""><span></span></a>

            <div id="menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>

            <p>轻简记账</p>
        </div>
        <div class="card card-1"></div>
        <div class="card card-1"></div>
        <div class="card card-1"></div>
        <div class="card card-1"></div>
        <div class="card card-1"></div>
        <div class="card card-1"></div>
    </div>

    <script src="js/menu-2.js"></script>
</body>
</html>