<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>轻简记账</title>
    <link rel="stylesheet" th:href="@{css/card.css}"></link>
    <link rel="stylesheet" th:href="@{css/toggle.css}"></link>
    <link rel="stylesheet" th:href="@{css/index.css}"></link>
    <script src="js/prefixfree.min.js"></script>
</head>
<body>
    <div class="card content">
        <header class="card header">
            <a href="#menu" class="toggle" id="toggle_menu"><span></span></a>

            <div class="menu setter">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>

            <p class="logo">轻简记账</p>

            <a href="#menu" class="toggle" id="toggle_face">
                <div class="face"></div>
            </a>
            <div class="menu user">
                <ul>
                    <li><a href="#home" th:text="${uAcct}"></a></li>
                    <li><a th:href="@{logout}">退出</a></li>
                </ul>
            </div>
        </header>
        <div class="card card-1 account scrollstyle">
            <div class="card" th:each="acct:${accounts}">
                <tr>
                    <td th:text="${acct.accountName}"></td>
                    <td th:text="${acct.balance}"></td>
                </tr>
            </div>
            <a href="#addAcct" class="toggle addAcct">
                <div  class="card addAcct"></div>
            </a>
        </div>
        <div class="card card-1 flow"></div>
        <div class="card card-1 up"></div>
    </div>

    <script src="js/toggle.js"></script>
</body>
</html>