<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>轻简记账</title>
    <link rel="icon" type="image/x-icon" th:href="@{img/favicon.ico}"></link>
    <link rel="stylesheet" th:href="@{css/card.css}"></link>
    <link rel="stylesheet" th:href="@{css/toggle.css}"></link>
    <link rel="stylesheet" th:href="@{css/index.css}"></link>
    <script src="js/prefixfree.min.js"></script>
</head>
<body>
    <div class="card content">
        <header class="card header">
            <a href="#menu" class="toggle" id="toggle_menu"><span></span></a>

            <div class="menu setter">
                <ul>
                    <li><a href="#home">记账</a></li>
                    <li><a href="#about">报表</a></li>
                    <li><a id="addAcct" href="#">资金</a></li>
                </ul>
            </div>

            <p class="logo">轻简记账</p>

            <p class="name" th:text="${user.uName}"></p>
            <a href="#menu" class="toggle" id="toggle_face">
                <div class="face"></div>
            </a>
            <div class="menu user">
                <ul>
                    <!--<li><a href="#home" th:text="${uAcct}"></a></li>-->
                    <li><a th:href="@{logout}">退出</a></li>
                </ul>
            </div>
        </header>
        <div class="card card-1 account scrollstyle">
            <div class="card" th:each="acct:${accounts}">
                <tr>
                    <td th:text="${acct.accountName}"></td>
                    <td th:text="${acct.balance}"></td>
                </tr>
            </div>
        </div>
        <div class="card card-1 flow"></div>
        <div class="card card-1 up"></div>
        <div class="card card-2 addAcct">
            <form class="addAcct-form" th:action="@{addAccount}" th:object="${AccountEntity}" method="post">
                <input type="text" placeholder="账户简称" th:field="*{accountName}"/>
                <input type="text" placeholder="余额" th:field="*{balance}"/>
                <button>添加</button>
            </form>
            <form class="transfer-form" th:action="@{addTransfer}" th:object="${TransferEntity}" method="post">
                <input type="radio" placeholder="转出账户" th:field="*{inAccount}" th:data=""/>
                <input type="radio" placeholder="转入账户" th:field="*{outAccount}"/>
                <button>添加</button>
            </form>
        </div>
    </div>

    <script src="js/jquery.min-2.1.3.js"></script>
    <script src="js/toggle.js"></script>
    <script src="js/card.js"></script>
</body>
</html>