<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>轻简记账</title>
    <link rel="stylesheet" href="../../static/css/login-1.css" th:href="@{css/login-1.css}"></link>
</head>

<body>
<div class="login-page">
    <div class="form">
        <h1 style="color: darkgoldenrod;">轻简记账</h1>
        <form class="register-form" th:action="@{joinIn}" th:object="${UsersEntity}" method="post">
            <input type="text" placeholder="用户名" th:field="*{uAcct}"/>
            <input type="password" placeholder="输入密码" th:field="*{uPwd}"/>
            <input type="password" placeholder="重新输入密码" />
            <button>加入</button>
            <p class="message">已经有账号? <a href="#">登录</a></p>
        </form>
        <form class="login-form" th:action="@{login}" th:object="${UsersEntity}" method="post">
            <input type="text" placeholder="用户名" th:field="*{uAcct}"/>
            <input type="password" placeholder="密码" th:field="*{uPwd}"/>
            <button>登录</button>
            <p class="result" th:text="${result}"></p>
            <p class="message">还没有账号? <a href="#">加入</a></p>
        </form>
    </div>
</div>
<script src="js/jquery.min-2.1.3.js"></script>

<script src="js/login-1.js"></script>

</body>
</html>
